@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply  text-white font-custom;
}
body {
  background: linear-gradient(to bottom, #000000, #1a1a1a);
}
@keyframes marquee {
  from {
    transform: translateX(100%); /* Start outside the container on the right */
  }
  to {
    transform: translateX(-100%); /* End outside the container on the left */
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.bg-gradient-radial {
  background: linear-gradient(to right top, rgb(12, 5, 20), rgb(2, 39, 63), rgb(0, 88, 117));
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Hide Cryptohopper logo */
.cryptohopper_logo_ticker_1 {
  display: none !important;
}

